<div class="container">

<%= form_for(@climb) do |f| %>
  <% if @climb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@climb.errors.count, "error") %> prohibited this climb from being saved:</h2>

      <ul>
      <% @climb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
    <!--#f.label :number_of_moves
    #f.number_field :number_of_moves-->
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :route_image %><br>
    <%= f.text_field :route_image %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
