<div class="container">

<p id="notice"><%= notice %></p>

<h1>All the climbs, all the moves</h1>

<table class="table">
  <thead>
    <tr>
      <th>Climb ID</th>
      <th>Location</th>
      <th>Name</th>
      <th>Grade</th>
      <th>Number of moves</th>
      <th>Height</th>
      <th>Route image</th>
      <th>Comments</th>
      <th>List of moves</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @climbs.each do |climb| %>
      <tr>
        <td><%= climb %></td>
        <td><%= climb.location %></td>
        <td><%= link_to climb.name, climb %></td>
        <td><%= climb.grade %></td>
        <td><%= climb.number_of_moves %></td>
        <td><%= climb.height %></td>
        <td><%= climb.route_image %></td>
        <td><%= climb.comments %></td>
        <td><%= link_to 'Moves', moves_path %></td>
        <!--
        <td><%= link_to 'Show', climb %></td>
        <td><%= link_to 'Edit', edit_climb_path(climb) %></td>
        <td><%= link_to 'Destroy', climb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Climb', new_climb_path %>

</div>
