<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <h1>Climb Details</h1>
</p>

<p>
  <strong>Location:</strong>
  <%= @climb.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @climb.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @climb.grade %>
</p>

<p>
  <strong>Number of moves:</strong>
  <%= @climb.moves.count %>
</p>

<p>
  <strong>Height:</strong>
  <%= @climb.height %>
</p>

<p>
  <strong>Route image:</strong>
  <%= @climb.route_image %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @climb.comments %>
</p>

<p>
  <strong>List of Moves:</strong>
  <% @climb.moves.each do |move| %>
    <p></p>
     <strong>Move # <%= move.order %>:</strong>
     <p>Hand or Foot: <%= move.body_movement %></p>
    <p>Type of Piece: <%= move.end_spot %></p>
     <%= link_to "Edit This Move", edit_move_path(move) %>
  <% end %>
</p>

<%= link_to 'Add a move', new_move_path(@move) %> |
<%= link_to 'Edit this climb', edit_climb_path(@climb) %> |
<%= link_to 'Back to Index', climbs_path %>

</div>