<!DOCTYPE html>
<html>
<head>
  <title>Climbtracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" %>
  <%= javascript_include_tag "//code.jquery.com/jquery-2.1.3.js" %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" %>

  
  <meta property="og:image" content="http://img2.timeinc.net/health/img/web/2012/08/blogs/rock-climber-woman.jpg" /> 
  <meta property="og:url" content="https://shrouded-hamlet-2254.herokuapp.com/"/>
  <meta property="og:title" content="ClimbTracker" />
  <meta property="og:description" content="Track your moves through a route" />

</head>
<body>

<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'ClimbTracker', root_url, class: 'navbar-brand' %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to 'About', pages_about_path %>
                    </li>
                    <li>
                        <%= link_to 'Services', pages_services_path %>
                    </li>
                    <li>
                        <%= link_to 'Contact', pages_contact_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<%= yield %>

</body>
</html>
